@import url(http://fonts.googleapis.com/css?family=VT323);

html, body {
    background: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'VT323', Courier;
    overflow: hidden;
}

body {
    -moz-animation: blink 0.1s steps(2, start) infinite, skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
  -webkit-animation: blink 0.1s steps(2, start) infinite, skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
  animation: blink 0.1s steps(2, start) infinite, skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
}

#topGlare {
    background-image: url('topleft.PNG');
    position: fixed;
    top: 0;
    left: 0;
    width: 768px;
    height: 500px;
    opacity: 0.5;
}

#bottomGlare {
    background-image: url('bottomright.PNG');
    position: fixed;
    bottom: 10;
    right: 10;
    width: 768px;
    height: 500px;
    opacity: 0.25;
}

#bigScan {
    position: absolute;
    top: 400px;
    width: 100%;
    height: 200px;
    opacity: 0.5;
    background: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(255, 255, 255, 0.1) 1px, rgba(255, 255, 255, 0.1) 2px);
    -webkit-background-size: 100% 2px;
    background: -moz-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(255, 255, 255, 0.1) 1px, rgba(255, 255, 255, 0.1) 2px);
    -moz-background-size: 100% 2px;
    -webkit-animation: bigscan 15s infinite; 
    -moz-animation:    bigscan 15s infinite; 
    animation:         bigscan 15s infinite; 
    overflow: hidden;
    display: block;
}

@-webkit-keyframes bigscan {
  0%   { top: -400; }
  100% { top: 1400; }
}
@-moz-keyframes bigscan {
  0%   { top: -400; }
  100% { top: 1400; }
}
@keyframes bigscan {
  0%   { top: -400; }
  100% { top: 1400; }
}

#start {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:9999;    
    top:0;
    left:0;
}

#scanlines {
    width:100%;
    height:100%;
}

#scanlines:after {
    -moz-box-shadow: inset 0 0 10em #000;  
    -webkit-box-shadow: inset 0 0 10em #000;   
    box-shadow: inset 0 0 10em #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
    background: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(255, 255, 255, 0.25) 1px, rgba(255, 255, 255, 0.25) 2px);
    -webkit-background-size: 100% 2px;
    background: -moz-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(255, 255, 255, 0.25) 1px, rgba(255, 255, 255, 0.25) 2px);
    -moz-background-size: 100% 2px;
}

#console {
    font-size: 28px;
    color: #fff;
    padding: 10px;
    max-width: 900px;
    margin: 0 auto;
    display: block;
    white-space: pre;
    line-height: 1.5em;
    position: relative;
    top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
    text-transform: uppercase;
    text-shadow: 0.01em 0.01em 0.2em rgba(255,255,255,0.5);
}


    @-webkit-keyframes grain {
  0%, 100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -webkit-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -webkit-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -webkit-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -webkit-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
@-moz-keyframes grain {
  0%, 100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -webkit-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -webkit-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -webkit-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -webkit-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
@-ms-keyframes grain {
  0%, 100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -webkit-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -webkit-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -webkit-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -webkit-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
@keyframes grain {
  0%, 100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -webkit-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -webkit-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -webkit-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -webkit-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
    
#noise {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    position: relative;
}

#noise:after {
    -webkit-animation: grain 5s steps(10) infinite;
    -moz-animation: grain 5s steps(10) infinite;
    -ms-animation: grain 5s steps(10) infinite;
    animation: grain 5s steps(10) infinite;
    background: url(http://cl.ly/image/2m2R0A3m1b3x/noise.png);
    content: "";
    display: block;
    height: 300%;
    left: -100%;
    position: absolute;
    top: -100%;
    width: 300%;
    z-index: 3;
    opacity: 0.5;
}


.element {
}

.element:after {
    visibility: visible;
    content: '';
    background-color: #fff;
    display: inline-block;
    position: relative;
    width: 0.5em;
    height: 0.7em;
    top: 2px;
    margin-left: 0;
    -moz-box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
    -webkit-box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
    box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
    -moz-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 0s infinite;
    -webkit-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 0s infinite;
    animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 0s infinite;
}

@-moz-keyframes blink {
  to {background-color: #060606;}
}
@-webkit-keyframes blink {
  to {background-color: #060606;}
}
@keyframes blink {
  to {background-color: #060606;}
}
@-moz-keyframes skip {
  to {background-position: 0 100%;}
}
@-webkit-keyframes skip {
  to {background-position: 0 100%;}
}
@keyframes skip {
  to {background-position: 0 100%;}
}
@-moz-keyframes flicker {
  to {color: #0f0e0e;}
}
@-webkit-keyframes flicker {
  to {color: #0f0e0e;}
}
@keyframes flicker {
  to {color: #0f0e0e;}
}
@-moz-keyframes ready {
  to {visibility: hidden;}
}
@-webkit-keyframes ready {
  to {visibility: hidden;}
}
@keyframes ready {
  to {visibility: hidden;}
}

.typed-cursor{
    display: none;
}

::selection {
  background: transparent;
}